
hr{
  border: 10px solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
    background-color:violet;
}

p{
    font-size:80%; 
    font-family:verdana;
}
h1{
    color:skyblue; 
    font-family:magneto; 
    font-size:300%; 
    text-align:center;
}
h2{
    text-decoration: underline;
    font-size:150%;
}
h3{
    color:black; 
    font-family:magneto; 
    font-size:100%; 
    text-align:center;
}
img{
    width=200;
    height=100;
}
#myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: left;
    float:left
}

#myDiv2 {
    border: 5px;
    background-color: lightgreen;
    text-align: left;
    float:left;
}

#myDiv3 {
    border: 5px outset red;
    background-color: orange;
    text-align: left;
    float:center;
}
#myDiv4 {
    border: 5px outset red;
    background-color: lightgrey;
    text-align: center;  
    float:center;       
}
#myDiv5 {
    text-align: left;
    float:right;
}
#myDiv6 {
    text-align: left;
    float:right;
    background-color: white;
}

#li1{
    color:red;
}    
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width:40%;
  font-family:verdana; 
  font-size:80%; 
  text-align:center;
  padding: 5px;
}
#thTitle{
    color:brown; 
    font-size:125%; 
}
