<!DOCTYPE html>
<html>
    <body>
        <nav>
            <a href="{% url 'story5:inputhtml' %}">Input</a>|
            <a href="{% url 'story5:outputhtml' %}">Output</a>
        </nav>
    </body>
<html>