<!DOCTYPE html>


{% load static %}
<html>
    <head>
        {% block meta %}
            <title>input story5</title>
        {% endblock meta %}
    </head>
    {% block content %}
    <body>
        <nav>
            <a href="{% url 'story5:inputhtml' %}">Input</a>|
            <a href="{% url 'story5:outputhtml' %}">Output</a>
      </nav>
      <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </body>     
    {% endblock content %}  
</html>