<!DOCTYPE html>

{% load static %}

<html>
    <head>
        {% block meta %}
            <title>output story5</title>
        {% endblock meta %}
    </head>
    {% block content %}
    <body>
      <nav>
            <a href="{% url 'story5:inputhtml' %}">Input</a>|
            <a href="{% url 'story5:outputhtml' %}">Output</a>
      </nav>
        <table style="width:100%">
            <tr>
                <th> nama mata kuliah </th>
                <th> dosen pengajar </th>
                <th> jumlah sks </th>
                <th> semester tahun </th>
                <th> ruang kelas </th>
            <tr>
            {% if jadwal %}
            {% for kuliah in jadwal %}
            <tr>
                <td>{{ kuliah.nama_mata_kuliah}}</td>
                <td>{{ kuliah.dosen_pengajar}}</td>
                <td>{{kuliah.jumlah_sks}}</td>
                <td>{{kuliah.semester_tahun}}</td>
                <td>{{kuliah.ruang_kelas}}</td>           
            </tr
            {% endfor %}
        {% endif %}
    </body>     
    {% endblock content %}  
</html>