{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage sementara</title>
{% endblock meta %}

{% block content %}
  <h1>Silahkan menuju salah satu storyku</h1>
  <nav>
    <a href="{% url 'main:story1' %}">Story1</a>|
    <a href="{% url 'main:story3' %}">Story3</a>|
    <a href="{% url 'main:miripstory3' %}">miripstory3</a>
   </nav>          
{% endblock content %}
