<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'cssStory3.css'%}" rel="stylesheet" type"text/css">
        <title>Profile Diriku</title>       
    </head>
    
    <body>
        <h1>Welcome to My Profile \^-^/</h1>
        <nav>
            <a href="{% url 'main:story1' %}">Story1</a>|
            <a href="{% url 'main:miripstory3' %}">miripstory3</a>
        </nav>
        
        <hr>
        <div id="myDiv">
        <h2> Data diri</h2>
            <ul>      
            <li>Nama             : {{nama}} </li>
            <li>NPM              : {{npm}}</li>
            <li>Angkatan         : 2019 </li>  
            <li>Tempat Kuliah    :<a href="https://www.ui.ac.id/">Universitas Indonesia  </a></li> 
            <li>Jurusan          : Ilmu Komputer </li>  
            <li>Media Sosial     :<a href="https://www.facebook.com/profile.php?id=100005583944719/">Facebook</a>, <a href="https://www.instagram.com/aladster_tjendana/", style=text-align:right; > Instagram </a></li>    
            <li>id Line          : aladster</li>                   
            <li> <p>Deskripsi singkat : Saya senang bermain dan mencoba hal baru.
                 <br>
                                           Pantang menyerah adalah motto saya. Saya
                 <br>
                                           introvert tetapi tidak apa-apa menjadi 
                 <br>
                                           ekstrovert. Jadi mari kita berteman!</p></li>
            </ul>
            <div id="myDiv2"> 
                <h2> Pengalaman</h2>
                <ul>
                <li id="li1">Paskibra</li>
                <p>Menjadi paskibra ricci
                <br>
                   Mengajar paskibra dan pelaksana upacara di ricci tahun 2016-2019
                <li id="li1">Palang Merah Remaja</li>
                <p>Menjadi anggota PMI
                <br>
                   Mengajar PMR di ricci dan menjadi spesialis tandu. Mengikuti lomba membuat tandu 3 kali.</p>
                <li id="li1">Mahasiswa UI</li>
                <p> Mahasiswa Fasilkom  UI
                <br>
                   Masuk melalui jalur sbmptn. Menjadi mahasiswa UI tahun 2019 mengambil jurusan ilmu komputer</p>
                <a href="https://smaricci1.sekolahricci.sch.id/"> untuk mencari tahu mengenai <b> SMA Ricci.</b></a>
                </ul>
            </div>    
        </div>
        
        <div id="myDiv3"> 
            <div id="myDiv5">
                <img src="https://picsum.photos/200/100">
                <div id="myDiv6">
                    <h3> This is my picture </h3>
                    <center>
                        <img src="{% static 'img/aladster.jpg' %}">
                    </center>
                </div>
            </div>
            <h2> Hobi</h2>
            <ul>
            <li id="li1">Gamer</li>
            <p>Bermain game sejak kecil. Bermain semua genre game. 
            <br>
            Sangat suka dengan puzzle,fps,tps,mmorpg,adventure,action,dan masih banyak lagi.
            <br>
            Sedang mendalami sekiro dan bermain apex legend</p>
            <a href="https://www.ea.com/games/apex-legends"> untuk mencari tahu mengenai <b> Apex Legends.</b></a>
            <li id="li1">Olahraga</li>
            <p>Bermain basket seminggu sekali. Bisa bermain olahraga lain sebagai orang avarage.
            <br>
            Mencoba semua jenis olahraga walaupun masih obesitas level 2.</p>
            <li id="li1">menikmati pemandangan</li>
            <p>Menikmati alam suka hiking dan berkelana. Alam itu indah.</p>
            <div id="myDiv4">
                <div class="myDiv4">  
                    <h2>Riwayat Pendidikan</h2>
                        <table>
                          <tr>
                            <th id="thTitle">Nama Sekolah</th>
                            <th id="thTitle">Kelas</th> 
                            <th id="thTitle">Tahun</th>
                          </tr>
                          <tr>
                            <td>SD Katorlik Ricci</td>
                            <td>SD</td>
                            <td>2007-2013</td>
                          </tr>
                          <tr>
                            <td>SMP Katolik Ricci</td>
                            <td>SMP</td>
                            <td>2013-2016</td>
                          </tr>
                          <tr>
                            <td>SMA Katolik Ricci</td>
                            <td>SMA</td>
                            <td>2016-2019</td>
                          </tr>
                        </table>
                        <br>
                        <table>
                          <tr>
                            <th id="thTitle">Nama Kegiatan</th>
                            <th id="thTitle">Jabatan</th> 
                            <th id="thTitle">Tahun</th>
                          </tr>
                          <tr>
                            <td>Rival</td>
                            <td>koordinator</td>
                            <td>2019</td>
                          </tr>
                          <tr>
                            <td>Donor darah</td>
                            <td>koordinator</td>
                            <td>2017-2019</td>
                          </tr>
                          <tr>
                            <td>Training camp</td>
                            <td>ketua kegiatan</td>
                            <td>2015-2018</td>
                          </tr>
                        </table>                   
            </div>
        </div>  
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>      
    </body>
</html>
        