<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>My profile for first story</title>
    </head>
    <body style="background-color:violet;">
        <h1 style="color:skyblue; font-family:magneto; font-size:300%; text-align:center;"> Welcome to my first website \^-^/ </h1>  
        <nav>
            <a href="{% url 'main:story3' %}">Story3</a>|
            <a href="{% url 'main:miripstory3' %}">miripstory3</a>
        </nav>          
        <h2 style="color:black; font-family:magneto; font-size:175%; text-align:center;"> This is my picture </h2>
        <center>
        <img src="{% static 'img/aladster.jpg' %}">
        </center>
        <style>
        .myDiv {
          border: 5px outset red;
          background-color: lightblue;
          text-align: left;
          float:left
        }
        .myDiv2 {
          border: 5px outset red;
          background-color: lightgreen;
          text-align: center;
          float:center;
        }
        .myDiv3 {
          border: 5px outset red;
          background-color: orange;
          text-align: left;
          float:right;
        }
        .myDiv4 {
          border: 5px outset red;
          background-color: lightgrey;
          text-align: left;
          
        }
        
        </style>
        <div class="myDiv">
        <p style="color:green;font-size:150%;"> Data diri</p>
            <ul>      
            <p>Nama             : Aldi
            <br>
               NPM              : 1906350635
            <br>
               Angkatan         : 2019
            <br>
               Tempat Kuliah    : Universitas Indonesia 
            <br> 
               Jurusan          : Ilmu Komputer
            <br> 
               Media Sosial     : <a href="https://www.facebook.com/profile.php?id=100005583944719/"> Facebook </a>
            <br>
                                  <a href="https://www.instagram.com/aladster_tjendana/"> Instagram</a>
            <br>
              id Line           : aladster</p>
               
               
            <p>Deskripsi singkat : Saya senang bermain dan mencoba hal baru.
            <br>
                                   Pantang menyerah adalah motto saya. Saya
            <br>
                                   introvert tetapi tidak apa-apa menjadi 
            <br>
                                   ekstrovert. Jadi mari kita berteman UwU</p>
            <a href="https://www.ui.ac.id/"> untuk mencari tahu mengenai <b> Universitas Indonesia.</b></a>
            
            </ul>
            </div>
            
        <div class="myDiv2">  
        <p style="color:green;font-size:150%;"> Pengalaman</p>
         <ul>
            <li style="color:red;">Paskibra</li>
            <p>Menjadi paskibra ricci
            <br>
               Mengajar paskibra dan pelaksana upacara di ricci tahun 2016-2019
            <li style="color:red;">Palang Merah Remaja</li>
            <p>Menjadi anggota PMI
            <br>
               Mengajar PMR di ricci dan menjadi spesialis tandu. Mengikuti lomba membuat tandu 3 kali.</p>
            <li style="color:red;">Mahasiswa UI</li>
            <p> Mahasiswa Fasilkom  UI
            <br>
                Masuk melalui jalur sbmptn. Menjadi mahasiswa UI tahun 2019 mengambil jurusan ilmu komputer</p>
        <a href="https://smaricci1.sekolahricci.sch.id/"> untuk mencari tahu mengenai <b> SMA Ricci.</b></a>
        </ul>
        </div>
        
        <div class="myDiv3"> 
        <p style="color:green;font-size:150%;"> Hobi</p>
        <ul>
        <li style="color:red;">Gamer</li>
        <p>Bermain game sejak kecil. Bermain semua genre game. 
        <br>
        Sangat suka dengan puzzle,fps,tps,mmorpg,adventure,action,dan masih banyak lagi.
        <br>
        Sedang mendalami sekiro dan bermain apex legend</p>
          <a href="https://www.ea.com/games/apex-legends"> untuk mencari tahu mengenai <b> Apex Legends.</b></a>
        <li style="color:red;">Olahraga</li>
        <p>Bermain basket seminggu sekali. Bisa bermain olahraga lain sebagai orang avarage.
        <br>
           Mencoba semua jenis olahraga walaupun masih obesitas level 2.</p>
        <li style="color:red;">menikmati pemandangan</li>
        <p>Menikmati alam suka hiking dan berkelana. Alam itu indah.</p>
        <img src="https://picsum.photos/200/100" width="200" height="100">
        </div>
        
     <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
}
</style>
</head>
<div class="myDiv4">  
<body>
<h2>Riwayat Pendidikan</h2>

<table style="width:60%">
  <tr>
    <th style="color:brown; font-family:verdana; font-size:125%; text-align:center;">Nama Sekolah</th>
    <th style="color:brown; font-family:verdana; font-size:125%; text-align:center;">Kelas</th> 
    <th style="color:brown; font-family:verdana; font-size:125%; text-align:center;">Tahun</th>
  </tr>
  <tr>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">SD Katorlik Ricci</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">SD</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">2007-2013</td>
  </tr>
  <tr>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">SMP Katolik Ricci</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">SMP</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">2013-2016</td>
  </tr>
  <tr>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">SMA Katolik Ricci</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">SMA</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">2016-2019</td>
  </tr>
</table>
    </body>
<body>


<h2>Riwayat Kegiatan</h2>

<table style="width:63%">
  <tr>
    <th style="color:brown; font-family:verdana; font-size:125%; text-align:center;">Nama Kegiatan</th>
    <th style="color:brown; font-family:verdana; font-size:125%; text-align:center;">Jabatan</th> 
    <th style="color:brown; font-family:verdana; font-size:125%; text-align:center;">Tahun</th>
  </tr>
  <tr>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">Rival</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">koordinator</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">2019</td>
  </tr>
  <tr>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">Donor darah</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">koordinator</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">2017-2019</td>
  </tr>
  <tr>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">Training camp</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">ketua kegiatan</td>
    <td style="color:red; font-family:verdana; font-size:80%; text-align:center;">2015-2018</td>
  </tr>
</table>
<p style="text-align:center"> Saat ini Saya sedang belajar di Universitas Indonesia untuk meraih sarjana</p>
<p style="text-align:center"> Jika ingin berkenalan saya akan berada di pacil ^-^</p>
<p style="text-align:center"> Sampai bertemu teman-teman!</p>
</body>
</div>
</html>